<li data-value="us">
  <a href="https://store.kardia.com/en-gb/pages/globalrechargetest">
    <img
      width="40px"
      height="auto"
      src="{{ 'flag-america.svg'| asset_url }}" />
    <p>America</p>
  </a>
</li>
<li data-value="au">
  <a href="https://store.kardia.com/en-au/pages/globalrechargetest">
    <img
      width="40px"
      height="auto"
      src="{{ 'flag-australia.svg'| asset_url }}" />
    <p>Australia</p>
  </a>
</li>
<li data-value="ca">
  <a href="https://store.kardia.com/en-ca/pages/globalrechargetest">
    <img
      width="40px"
      height="auto"
      src="{{ 'flag-canada.svg'| asset_url }}" />
    <p>Canada</p>
  </a>
</li>
<li data-value="gb" class="pb-s5">
  <a href="https://store.kardia.com/en-gb/pages/globalrechargetest">
    <img
      width="40px"
      height="auto"
      src="{{ 'flag-uk.svg'| asset_url }}" />
    <p>United Kingdom</p>
  </a>
</li>