<div class="pop-up kardiamobile-upsell" id="kardiamobile6l-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiamobile6l-upsell-close"
      data-category="KardiaMobile 6L Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart">
    </a>
    <div class="text">
      <div class="faux-p"><strong>Don’t forget your KardiaMobile 6L</strong></div>
      <div class="p"><span style="color: #895da7; font-weight: bold;">Get $25 off</span> KardiaMobile 6L when you join KardiaCare.<br>Use code: <strong>HEARTDAY</strong> <span style="font-style: italic; font-size: 16px;">(US only)</span></div>
      {{ 'KM6L_no-bkgd.png' | asset_url | img_tag }}
      <p class="h4Price price">
        <span class="red">
          $ 124.00
        </span>
        <span class="strikeout">
          $ 149.00
        </span>
      </p>
      <a class="btn ga-tracker"
        id="kardiamobile6l-upsell-add"
        data-category="KardiaMobile 6L Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add to cart
      </a>
      <a id="kardiamobile6l-upsell-no"
        class="upsell-no ga-tracker"
        data-category="KardiaMobile 6L Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks, I already have a Kardia device.
      </a>
    </div>
  </div>
  </div>
</div>
