{% if shop.domain == 'store.alivecor.co.uk' %}
  <!-- UK -->
<div class="pop-up kardiacare-upsell original" id="kardiacare-upsell-popup-original">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="faux-p">Detect twice as many arrhythmias when you join KardiaCare</div>
      <div class="upsell-table-cont">
        {% include 'rhythm-table' %}
      </div>
      <div class="h3 subtitle">Just £99/year</div>
      <a class="btn ga-tracker"
        id="kardiacare-upsell-add"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare
      </a>
      <a id="kardiacare-upsell-no"
        class="upsell-no ga-tracker"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>
{% endif %}
{% if shop.domain == 'store.kardia.com' %}
<!-- US -->
<div class="pop-up kardiacare-upsell monthly" id="kardiacare-upsell-popup-monthly">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="faux-p-lg px-s5">Detect twice as many arrhythmias when you join KardiaCare</div>

      <div class="upsell-table-cont">
        {% include 'rhythm-table' %}
      </div>
      <div class="faux-p mt-s7">{% if shop.domain == 'store.alivecor.co.uk'%}Only £9.99/month.{% elsif request.host == 'shop.kardiamobile.ca' %}Only $13/month.{% else %}Only $9.99/month.{% endif %}</div>
      <a class="btn ga-tracker mt-s7 cursor-pointer"
        id="kardiacare-upsell-add-monthly"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare Membership
      </a>
      <a id="kardiacare-upsell-no-monthly"
        class="upsell-no ga-tracker mt-s3"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>
{% endif %}
