<table class="upsell rhythm">
  <thead>
    <tr>
      <td></td>
      <td class="head">Basic</td>
      <td class="head bold">KardiaCare<span></span></td>
    </tr>
  </thead>
  <tbody>
    <tr class="basic-row">
      <td class="feature">
        Atrial Fibrillation
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr class="basic-row">
      <td class="feature">
        Bradycardia
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr class="basic-row">
      <td class="feature">
        Tachycardia
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature" colspan="2">
        Sinus Rhythm with PVCs
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature" colspan="2">
        Sinus Rhythm with SVE
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature" colspan="2">
        Sinus Rhythm with Wide QRS
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    
  </tbody>
</table>
