{% style %}
    .accordion__content--flex-item{
        width:410px;
        text-align:center;
    }

    .accordion__content p:before, .accordion__content p:after{
        display:none;
    }

    #app accordion__content p + p {
        margin-top:1rem;
    }

{% endstyle %}

<article class="faq px-s8 lg:px-s11 py-s13 lg:py-s14">
    <div class="max-w-content mx-auto">
        <h2 class="mb-s8 lg:mb-s8 text-primary-800">Additional Information</h2> 
        <div class="faq__accordion">
            <ul class="accordion-items list-none accordion">
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent5" id="accordionBtn5" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p uppercase text-primary-800">Compatibility</h2> 
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button> 
                    <div id="accordionContent5" aria-labelledby="accordionBtn5" class="accordion__content-wrapper" style="display:none;">
                        <div class="accordion__content">
                            <p class="before:hidden after:hidden">KardiaMobile 6L is a medical device that is regulated per federal and international regulations; we rigorously test and validate devices with smartphones and tablets to meet or exceed these regulations before we claim compatibility. We routinely add support for new phones and tablets. Check back if your device is not listed below. For a list of previously compatible devices, please see <a href="https://alivecor.zendesk.com/hc/en-us/articles/1500000449521-Compatibility" class="text-primary-300 hover:text-primary-500">this article</a></p>
                            <p class="faux-p-sm after:hidden">(Last updated on July 14, 2021)</p>
                        </div>
                    </div>
                </li>
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent5" id="accordionBtn5" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p uppercase text-primary-800">Technical Specifications</h2> 
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button> 
                    <div id="accordionContent5" aria-labelledby="accordionBtn5" class="accordion__content-wrapper" style="display:none;">
                        <div class="accordion__content columns-2 gap-x-s10 gap-y-s8">
                            <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                <p class="font-bold">Dimensions</p>
                                <p class="mt-s1">9.0 cm x 3.0 cm x 0.72 cm </br>Three 3 cm x 3 cm stainless steel electrodes</p>
                            </div>
                            <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                <p class="font-bold">Weight</p>
                                <p class="mt-s1">24 grams</p>
                            </div>
                            <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                <p class="font-bold">Power</p>
                                <p class="mt-s1">3V CR2016 coin cell battery (included) <br/>200 hours operational time <br/>12 months typical use</p>
                            </div>
                            <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                <p class="font-bold">Connectivity</p>
                                <p class="mt-s1">Bluetooth Low Energy technology</br>1m wireless range</p>
                            </div>
                            <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                <p class="font-bold">EKG characteristics</p>
                                <p class="mt-s1">Six Lead ECG </br>10 mV peak-to-peak input dynamic range </br>30 second to 5 minute recording duration </br>300 samples per second sampling rate </br>14 bit resolution</p>
                            </div>
                            <div class="accordion__content--flex-item break-inside-avoid mt-s5">
                                <p class="font-bold">Requirements</p>
                                <p class="mt-s1">Compatible Apple or Android device </br>Kardia App</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent5" id="accordionBtn5" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p uppercase text-primary-800">Reviews</h2> 
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button> 
                    <div id="accordionContent5" aria-labelledby="accordionBtn5" class="accordion__content-wrapper text-primary-800" style="display:none;">
                        <div class="accordion__content">
                            {% include 'reviews' product=product %}
                        </div>
                    </div>
                </li>
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent5" id="accordionBtn5" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p uppercase text-primary-800">Return Policy</h2> 
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button> 
                    <div id="accordionContent5" aria-labelledby="accordionBtn5" class="accordion__content-wrapper text-primary-800" style="display:none;">
                        <div class="accordion__content">
                            <p>AliveCor will issue you a full refund on your purchase if you contact us within 30 days of delivery. To request a refund, contact AliveCor Support at <a href="mailto:support@alivecor.com" class="text-primary-300 hover:text-primary-500">support@alivecor.com</a> or <a href="tel:8553388800" class="text-primary-300 hover:text-primary-500">(855) 338-8800</a>. We will issue you an RMA number to include when you ship your device back to us and will process your refund upon receipt of your device.</p>
                            <p>If your device has stopped working and is still under warranty please contact us for troubleshooting assistance. If we find that your device is in fact defective while within the warranty period we will issue a replacement upon receipt of the faulty device.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>

<script>
    let accordionItems = document.querySelectorAll("button.accordion__trigger");
    console.log(accordionItems)
    accordionItems.forEach( function (element, id) {
        console.log(element)
        element.addEventListener("click", function() {
            this.classList.toggle("accordion__trigger_active");
            let content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
    });
</script>

