{% style %}
    .accordion__content--flex-item{
        width:410px;
        text-align:center;
    }

    .accordion__content p:before, .accordion__content p:after{
        display:none;
    }

    #app accordion__content p + p {
        margin-top:1rem;
    }

    #app .accordion__content-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

{% endstyle %}

<article class="faq px-s8 lg:px-s11 py-s13 lg:py-s14">
    <div class="max-w-content mx-auto">
        <h2 class="mb-s8 lg:mb-s8 text-primary-800">Additional Information</h2>
        <div class="faq__accordion">
            <ul class="accordion-items list-none accordion">
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent1" id="accordionBtn1" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p text-primary-800">Compatibility</h2>
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button>
                    <div id="accordionContent1" aria-labelledby="accordionBtn1" class="accordion__content-wrapper" >
                        <div class="accordion__content">
                            <p class="before:hidden after:hidden">KardiaMobile® 6L is compatible with most popular phones and tablets. To use your Kardia device, <b>you must download the Kardia app on a compatible device</b> running at least Apple iOS 10.3.3, or at least Android OS 6.0.</p>
						    <p class="before:hidden after:hidden">Prior to purchase, please check if your device is compatible at <a href="//alivecor.com/compatibility">alivecor.com/compatibility</a>.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent2" id="accordionBtn2" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p text-primary-800">Technical Specifications</h2>
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button>
                    <div id="accordionContent2" aria-labelledby="accordionBtn2" class="accordion__content-wrapper content-dependant" >
                        <div class="accordion__content grid grid-cols-1 lg:grid-cols-2 gap-y-s7">
                            <div class="grid-col flex flex-col items-center">
                                <div class="accordion__content--flex-item break-inside-avoid">
                                    <p class="font-bold">Dimensions</p>
                                    <p class="mt-s1">9.0 cm x 3.0 cm x 0.72 cm </br>Three 3 cm x 3 cm stainless steel electrodes</p>
                                </div>
                                <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                    <p class="font-bold">Weight</p>
                                    <p class="mt-s1">24 grams</p>
                                </div>
                                <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                    <p class="font-bold">Power</p>
                                    <p class="mt-s1">3V CR2016 coin cell battery (included) <br/>200 hours operational time <br/>12 months typical use</p>
                                </div>
                                <div class="accordion__content--flex-item break-inside-avoid mt-s7">
                                    <p class="font-bold">Connectivity</p>
                                    <p class="mt-s1">Bluetooth Low Energy technology</br>1m wireless range</p>
                                </div>
                            </div>
                            <div class="grid-col flex flex-col items-center">
                                <div class="accordion__content--flex-item break-inside-avoid">
                                    <p class="font-bold">EKG characteristics</p>
                                    <p class="mt-s1">Six Lead ECG </br>10 mV peak-to-peak input dynamic range </br>30 second to 5 minute recording duration </br>300 samples per second sampling rate </br>14 bit resolution</p>
                                </div>
                                <div class="accordion__content--flex-item break-inside-avoid mt-s5">
                                    <p class="font-bold">Requirements</p>
                                    <p class="mt-s1">Compatible Apple or Android device </br>Kardia App</p>
                                    <div class="store-links">
                                        <a class="itunes-badge" target="_blank" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="{{ 'apple-icon.png' | asset_url }}" alt="link to AppStore" class="w-s13 inline-block"></a>
                                        <a class="android-badge" target="_blank" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="{{ 'google-icon.png' | asset_url }}" alt="Android app on Google Play" class="w-s13 inline-block"></a>
                                    </div>
                                    <a href="https://www.alivecor.com/quickstart" class="btn btn--underline py-0">User Manuals</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent3" id="accordionBtn3" class="accordion__trigger reviews-button">
                        <h2 class="accordion__heading faux-p text-primary-800">Reviews</h2>
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button>
                    <div id="accordionContent3" aria-labelledby="accordionBtn3" class="accordion__content-wrapper text-primary-800 reviews-content" >
                        <div class="accordion__content">
                            {% include 'reviews' product=product %}
                        </div>
                    </div>
                </li>
                <li class="accordion__item accordion__item">
                    <button aria-controls="accordionContent4" id="accordionBtn4" class="accordion__trigger ">
                        <h2 class="accordion__heading faux-p text-primary-800">Return Policy</h2>
                        <span class="accordion__icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" color="currentColor" id="icon-definition"><path data-cap="butt" d="m1 8 11 8 11-8" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>
                        </span>
                    </button>
                    <div id="accordionContent4" aria-labelledby="accordionBtn4" class="accordion__content-wrapper text-primary-800" >
                        <div class="accordion__content">
                            <p>AliveCor will issue you a full refund on your purchase if you contact us within 30 days of delivery. To request a refund, contact AliveCor Support at <a href="mailto:support@alivecor.com" class="text-primary-300 hover:text-primary-500">support@alivecor.com</a> or <a href="tel:8553388800" class="text-primary-300 hover:text-primary-500">(855) 338-8800</a>. We will issue you an RMA number to include when you ship your device back to us and will process your refund upon receipt of your device.</p>
                            <p>If your device has stopped working and is still under warranty please contact us for troubleshooting assistance. If we find that your device is in fact defective while within the warranty period we will issue a replacement upon receipt of the faulty device.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>

<script>


    let accordionItems = document.querySelectorAll("button.accordion__trigger");
    let currOpenId = null;
    accordionItems.forEach( function (element, id) {
        element.addEventListener("click", function() {
            //if other acc is open, close it
            if(currOpenId && currOpenId !== this.id){
                let open = document.querySelector("#" + currOpenId)
                let content = open.nextElementSibling;
                open.classList.toggle("accordion__trigger_active");
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                    setTimeout(()=> {content.classList.toggle("accordion__content_open")}, 200)
                } else {
                    content.classList.toggle("accordion__content_open")
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            }
            //toggle open state of clicked acc
            let content = this.nextElementSibling;
            this.classList.toggle("accordion__trigger_active");
            if (content.style.maxHeight) {
                content.style.maxHeight = null
                setTimeout(() => {content.classList.toggle("accordion__content_open")}, 200)
                currOpenId = null

            } else {
                content.classList.toggle("accordion__content_open")
                content.style.maxHeight = content.scrollHeight + "px"
                currOpenId = this.id;
            }

        });
    });

    let content = document.querySelector('.content-dependant');
    window.addEventListener('resize', function() {
        if(content.style.maxHeight === content.scrollHeight + "px" || content.style.maxHeight === 0){
            return
        }
        else{
            content.style.maxHeight = content.scrollHeight + "px";
        }
    }, {passive: true})
</script>
