<article class="image-split image-split--left borders">
  <div class="image-split__media">
    <picture class="image__wrapper"
      >
      {% comment %}
      <source
        media="(max-width: 639px)"
        srcset="
          https://kardia.steadfa.st/assets/images/_620x460_crop_center-center_95_none/hands-phone.png
        " />
      <source
        media="(max-width: 1023px)"
        srcset="
          https://kardia.steadfa.st/assets/images/_1024x550_crop_center-center_95_none/hands-phone.png
        " />
        {% endcomment %}
      <img
        src="{{ "km6l-feature-image-three-sensors.png" | asset_url }}"
        alt=""
        class="image-split__image"
    /></picture>
  </div>
  
  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Advanced six-lead technology</h2>
      <p class="faux-sh">Two sensors on top, a third on the bottom.</p>
      <p>
        KardiaMobile 6L has two electrodes on the top for your fingers or thumbs and one on the bottom to contact the skin of your left leg. Record EKG leads I, II, III, aVL, aVR, and aVF.
      </p>
    </div>
  </div>
</article>
