<article class="image-split image-split--left borders">
  <div class="image-split__media">
    <picture class="image__wrapper">
      <img
        src="{{ "content-wallet-sized.jpg" | asset_url }}"
        alt=""
        class="image-split__image"
      />
    </picture>
  </div>

  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Wallet-sized convenience</h2>
      {% comment %} <p class="faux-sh">Take your EKG from anywhere</p> {% endcomment %}
      <p>
        KardiaMobile Card is as thin and light as a standard credit card and has been tested to withstand water, wear and tear. Keep it in your wallet so you always have it on hand, whether you’re going for coffee or running errands.
      </p>
    </div>
  </div>
</article>
