<article class="image-split image-split--right borders">
  <div class="image-split__media">
    <picture class="image__wrapper">
      <source
        media="(max-width: 639px)"
        srcset="
          https://kardia.steadfa.st/assets/images/_620x460_crop_center-center_95_none/hands-phone.png
        "
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          https://kardia.steadfa.st/assets/images/_1024x550_crop_center-center_95_none/hands-phone.png
        "
      />
      <img
        src="https://kardia.steadfa.st/assets/images/_1180x875_crop_center-center_90_none/hands-phone.png"
        alt=""
        class="image-split__image"
      />
    </picture>
  </div>

  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Convenient</h2>
      <p class="faux-sh">Take your EKG from anywhere</p>
      <p>
        KardiaMobile Card fits perfectly in your wallet, allowing you to take a
        medical-grade EKG on the go.
      </p>
    </div>
  </div>
</article>