<article class="image-split image-split--right borders">
  <div class="image-split__media">
    <picture class="image__wrapper">
      <source
        media="(max-width: 639px)"
        srcset="
          https://kardia.steadfa.st/assets/images/_620x460_crop_center-center_95_none/hands-phone.png
        "
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          https://kardia.steadfa.st/assets/images/_1024x550_crop_center-center_95_none/hands-phone.png
        "
      />
      <img
        src="https://kardia.steadfa.st/assets/images/_1180x875_crop_center-center_90_none/hands-phone.png"
        alt=""
        class="image-split__image"
      />
    </picture>
  </div>

  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Advanced Determinations</h2>
      <p class="faux-sh">Detect a wider range of arrhythmias</p>
      <p>
        Along with our current determinations - atrial fibrillation, bradycardia, tachycardia, and normal sinus rhythm - Advanced Determinations can detect three additional arrhythmias:
      </p>
      <ul>
        <li>Sinus rhythm with premature ventricular contractions (PVCs)</li>
        <li>Sinus rhythm with supraventricular ectopy (SVE)</li>
        <li>Sinus rhythm with wid QRS</li>
      </ul>
      <a class="btn btn--underline py-0 mt-s8">Learn More</a>
    </div>
  </div>
</article>