<article class="image-split image-split--right borders">
    <div class="image-split__media">
      <picture class="image__wrapper">
        <source
          media="(max-width: 639px)"
          srcset="
            https://kardia.steadfa.st/assets/images/_620x460_crop_center-center_95_none/hands-phone.png
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            https://kardia.steadfa.st/assets/images/_1024x550_crop_center-center_95_none/hands-phone.png
          "
        />
        <img
          src="https://kardia.steadfa.st/assets/images/_1180x875_crop_center-center_90_none/hands-phone.png"
          alt=""
          class="image-split__image"
        />
      </picture>
    </div>

    <div class="image-split__content">
      <div class="image-split__content-int">
        <h2>Heart Health <br>Summary Report</h2>
        <p class="faux-sh">Get a summary of your EKG and blood pressure data over a custom date range up to 30 days</p>
        <p>
            Use this report to track your heart health over time or share it with your doctor at your next appointment.
        </p>
        <p class="faux-p-sm font-bold">Your summary report includes an overview of:</p>
        <ul>
            <li>EKG</li>
            <li>Blood pressure</li>
            <li>Weight</li>
        </ul>
        <p class="faux-p-xs">(Blood pressure and weight are manually entered)</p>
      </div>
    </div>
  </article>
