<article class="image-split image-split--right borders">
  <div class="image-split__media">
    <picture class="image__wrapper">
      <img
        src="{{ "km6l-feature-image-credible.png" | asset_url }} "
        alt=""
        class="image-split__image"
      />
    </picture>
  </div>

  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Heart data you can trust</h2>
      <p class="faux-sh">Created by cardiologists.</p>
      <p>
        KardiaMobile 6L is clinically validated, CE marked, and FDA-cleared, making it one of the most reliable ways to check in on your heart from home.      </p>
    </div>
  </div>
</article>