<article class="border-primary-75 image-split image-split--right">
  <div class="image-split__media">
    <picture class="image__wrapper">
      <img
        src="{{ "kardiamobile-feature-image-convenient.jpg" | asset_url }}"
        alt=""
        class="image-split__image" />
    </picture>
  </div>

  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Convenient and reliable</h2>
      <p class="faux-sh">Take your EKG from home</p>
      <p>
        Record a medical-grade EKG in 30 seconds and get an instant analysis right on your  phone.
      </p>
    </div>
  </div>
</article>

<article class="border-t-2 border-primary-75 image-split image-split--left">
  <div class="image-split__media">
    <picture class="image__wrapper">
      <img
        src="{{ "km-feature-image-credible.png" | asset_url }}"
        alt=""
        class="image-split__image" />
    </picture>
  </div>
  <div class="image-split__content">
    <div class="image-split__content-int">
      <h2>Heart data you can trust</h2>
      <p class="faux-sh">Created by cardiologists</p>
      <p>
        KardiaMobile is clinically validated, CE marked, and FDA-cleared, making it one of the most reliable ways to check in on your heart from home.
      </p>
    </div>
  </div>
</article>
