<article class="image-split image-split--right borders">
    <div class="image-split__media">
      <picture class="image__wrapper">
        <source
          media="(max-width: 639px)"
          srcset="
            https://kardia.steadfa.st/assets/images/_620x460_crop_center-center_95_none/hands-phone.png
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            https://kardia.steadfa.st/assets/images/_1024x550_crop_center-center_95_none/hands-phone.png
          "
        />
        <img
          src="https://kardia.steadfa.st/assets/images/_1180x875_crop_center-center_90_none/hands-phone.png"
          alt=""
          class="image-split__image"
        />
      </picture>
    </div>
  
    <div class="image-split__content">
      <div class="image-split__content-int">
        <h2>Convenience</h2>
        <p class="faux-sh">Take your ECG from anywhere</p>
        <p>
            Capture a medical-grade ECG in 30 seconds and get an instant analysis right on your smartphone. KardiaMobile is small enough to fit in your pocket, so you can take it with you anywhere.
        </p>
      </div>
    </div>
  </article>