<article class="compare block-nobg">
    <div class="compare__int">
        <div class="compare__items">
            <div class="compare__item ">
                <picture class="image__wrapper  compare__image-wrapper"><img alt="" class="compare__image lazy-img lazyloaded" data-src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-1_2022-05-20-152315_hiob.png" height="230" src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-1_2022-05-20-152315_hiob.png" width="483"></picture>
                <p class="compare__heading faux-h5 text-primary-500 mt-s8">
                    KardiaMobile®</p>
                <p>1-lead EKG</p>
                <p>Detects AFib, Bradycardia, Tachycardia, and Normal Sinus Rhythm</p>
                <p>More arrhythmia detections available with a KardiaCare membership</p>
                <p>Audio connection, no WiFi required</p>
            </div>
            <div class="compare__item ">
                <picture class="image__wrapper  compare__image-wrapper">
                    <img data-src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/KM6L_no-bkgd-1.png" width="400" height="164" src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/KM6L_no-bkgd-1.png" alt="" class="compare__image lazy-img ls-is-cached lazyloaded">
                </picture> 
                <p class="compare__heading faux-h5 text-primary-500 mt-s8">    KardiaMobile® 6L</p> 
                <p>6-lead EKG</p> 
                <p>Detects AFib, Bradycardia, Tachycardia, and Normal Sinus Rhythm</p> 
                <p>More arrhythmia detections available with a KardiaCare membership</p> 
                <p>Bluetooth enabled, no WiFi required</p> 
                <p>The only 6-lead personal EKG, giving you a more detailed view of your heart rhythm<br></p>
            </div>
            <div class="compare__item compare__item--featured">
                <picture class="image__wrapper  compare__image-wrapper">
                    <img data-src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-card.png" width="271" height="172" src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-card.png" alt="" class="compare__image lazy-img ls-is-cached lazyloaded">
                </picture> 
                <p class="compare__heading faux-h5 text-primary-500 mt-s8">    KardiaMobile® Card</p> 
                <p>1-lead EKG</p> 
                <p>Detects AFib, Bradycardia, Tachycardia, and Normal Sinus Rhythm</p> 
                <p>More arrhythmia detections available with a KardiaCare membership</p> 
                <p>Bluetooth enabled, no WiFi required</p> 
                <p>As thin and light as a credit card, easily fits in your wallet</p> 
                <p>Tested for durability<strong><br></strong></p> 
                <div class="compare__links text-button-container global__btn">
                    <a href="https://shop.alivecor.com/kardiamobile-card" class="btn">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</article>