<article class="compare block-nobg">
    <div class="compare__int">
        <div class="compare__items">
            <div class="compare__item ">
                <picture class="image__wrapper  compare__image-wrapper"><img alt="" class="compare__image lazy-img lazyloaded" data-src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-1_2022-05-20-152315_hiob.png" height="230" src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-1_2022-05-20-152315_hiob.png" width="483"></picture>
                <p class="compare__heading faux-h5 text-primary-500 mt-s8">
                    KardiaMobile®</p>
                <p>1-lead EKG</p>
                <p>Detects AFib, Bradycardia, Tachycardia, and Normal Sinus Rhythm</p>
                <p>More arrhythmia detections available with a KardiaCare membership</p>
                <p>Audio connection, no WiFi required</p>
            </div>
            <div class="compare__item ">
                <picture class="image__wrapper  compare__image-wrapper"><img alt="" class="compare__image lazy-img lazyloaded" data-src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/KM6L_no-bkgd-1.png" height="164" src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/KM6L_no-bkgd-1.png" width="400"></picture>
                <p class="compare__heading faux-h5 text-primary-500 mt-s8">
                    KardiaMobile® 6L</p>
                <p>6-lead EKG</p>
                <p>Detects AFib, Bradycardia, Tachycardia, PVCs, Sinus Rhythm with SVE, Sinus Rhythm with Wide QRS, and Normal Sinus Rhythm</p>
                <p>Bluetooth enabled, no WiFi required</p>
                <p>The only 6-lead personal EKG, giving you and your doctor a more detailed view of your heart rhythm</p>
                <p>
                    <strong>Includes KardiaCar</strong>
                    <strong>e</strong>
                </p>
            </div>
            <div class="compare__item compare__item--featured">
                <picture class="image__wrapper  compare__image-wrapper"><img alt="" class="compare__image lazy-img lazyloaded" data-src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-card.png" height="172" src="https://www.kardia.com/assets/images/_305x180_fit_center-center_95_none/kardia-card.png" width="271"></picture>
                <p class="compare__heading faux-h5 text-primary-500 mt-s8">
                    KardiaMobile® Card</p>
                <p>1-lead EKG</p>
                <p>Detects AFib, Bradycardia, Tachycardia, PVCs, Sinus Rhythm with SVE, Sinus Rhythm with Wide QRS, and Normal Sinus Rhythm</p>
                <p>Bluetooth enabled, no WiFi required</p>
                <p>As thin and light as a credit card, easily fits in your wallet</p>
                <p>Tested for durability</p>
                <p>
                    <strong>Includes KardiaCare</strong>
                    <strong><br></strong>
                    <strong><br></strong>
                </p>
                <div class="compare__links text-button-container global__btn">
                    <a class="btn" href="https://shop.alivecor.com/kardiamobile-card">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</article>