{% style %}
  .country-dropdown {
    position: relative;
    left: 0;
  }

  .country-dropdown-mobile {
    display: none;
    position: relative;
    width: 100%;
  }

  .selected-country-option {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 240px;
  }

  .country-options {
    background-color: #fff;
  }

  .country-options-mobile {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .country-options,
  .country-options-mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: -18px;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0 0 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .country-options li,
  .country-options-mobile li {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .country-options li a,
  .country-options-mobile li a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .country-options li a p,
  .country-options-mobile li a p {
    style: none;
    color: black;
  }

  .country-options li a img,
  .selected-country-option img {
    position: relative;
    height: 18px;
    width: auto;
  }

  #country-selector-holder {
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    border-radius: 8px;
  }

  #country-selector-holder-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 32px;
  }

  .show-options {
    display: block;
    margin: 0;
  }

  #kardia-header-logo {
    height: 24px;
    width: auto;
  }

  .main-header,
  .grid-main,
  #shopify-section-kardia-header {
    display: none;
  }

  @media screen and (max-width: 800px) {

    .selected-country-option img {
      position: relative;
      height: 24px;
      width: auto;
    }
    .selected-country-option p {
      display: none;
    }
    .selected-country-option {
      width: auto;
      padding: 4px;
      border-radius: 0;
      border: 0;
    }

    .country-dropdown-mobile {
      display: block;
    }

    .country-dropdown ul {
      display: none;
    }
  }
{% endstyle %}

{% include 'domainDetect' %}

{% if siteDomain == "gb" %}
  {% assign currentCountry = "United Kingdom" %}
  {% assign flagName = "flag-uk.svg" %}
{% elsif siteDomain == "ca" %}
  {% assign currentCountry = "Canada" %}
  {% assign flagName = "flag-canada.svg" %}
{% elsif siteDomain == "ay" %}
  {% assign currentCountry = "Australia" %}
  {% assign flagName = "flag-australia.svg" %}
{% else %}
  {% assign currentCountry = "America" %}
  {% assign flagName = "flag-america.svg" %}
{% endif %}

<div id="country-selector-holder-wrapper">
  <img id="kardia-header-logo" src="{{ 'kardia-blue-logo.svg'| asset_url }}" />
  <div id="country-selector-holder">
    <div class="country-dropdown">
      <div class="selected-country-option">
        <img src="{{ flagName | asset_url }}" />
        <p>{{ currentCountry }}</p>
      </div>
      <ul class="country-options">
        {% include 'country-dropdowns' %}
      </ul>
    </div>
  </div>
</div>
<div class="country-dropdown-mobile px-s5">
  <ul class="country-options-mobile px-s5">
    {% include 'country-dropdowns' %}
  </ul>
</div>

<script>
  const customDropdown = document.querySelector(".country-dropdown");
  const mobileDropdown = document.querySelector(".country-dropdown-mobile"); // Change the selector
  const selectedOption = customDropdown.querySelector(".selected-country-option");
  const optionsList = customDropdown.querySelector(".country-options");
  const optionsListMobile = mobileDropdown.querySelector(".country-options-mobile"); // Change the selector

  selectedOption.addEventListener("click", () => {
    optionsList.classList.toggle("show-options");
    optionsListMobile.classList.toggle("show-options");
  });

  optionsList.addEventListener("click", (e) => {
    if (e.target.tagName === "LI") {
      const selectedValue = e.target.getAttribute("data-value");
      const selectedText = e.target.textContent;
      const selectedFlag = e.target.querySelector("img").src;
      selectedOption.innerHTML = `<img src="${selectedFlag}" alt="${selectedValue} Flag">${selectedText}`;
      optionsList.classList.remove("show-options");

// Use the selectedValue for further processing
      console.log("Selected Value:", selectedValue);
    }
  });
</script>