<section>
    <div class="home-grid home-accessories px-s8 py-s10 max-w-[1400px] mx-auto gap-x-s5">

        {% comment %}
            Loop through products in your Frontpage collection.
            This collection is created by default, but you must add products to it.
        {% endcomment %}

        {%- assign products = section.settings.product_list -%}

        {% for product in products %}
            {%- comment %}<locksmith:d275>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:d275>{% endcomment -%}
            {% if products.length <= 2 %}
            {% assign grid_item_width = 'large--one-half medium--one-half' %}
            {% else %}
            {% assign grid_item_width = 'large--one-half medium--one-half' %}
            {% endif %}
            {% assign product_collection = product.collections | map: 'handle' | join: ' ' %}
            {% include 'home-grid-item' %}
        {% endfor %}
    </div>
</section>

{% schema %}
    {
        "name": "Home Grid",
        "settings": [
        {
            "id": "product_list",
            "type": "product_list",
            "label": "Products",
            "limit": 4
        }
        ],
        "presets": [
        {
            "name": "Home Grid",
            "category": "Custom"
        }
        ]
    }
{% endschema %}
