<section class="page-width">
    <div class="bg-gradient-to-b from-[#FBFCFD] to-[#E1E6EF] rounded mb-s8 md:mb-s11 p-s6 md:px-s11 md:py-s7 relative overflow-hidden">
        {% comment %}<img src="https://cdn.shopify.com/s/files/1/0368/7037/files/detect-afib-feature-desktop_2x_d8428de1-46d4-42b5-8e42-e43f3afbf2ac.jpg?v=1690558690"{% endcomment %}
             {% comment %}class="absolute inset-0 object-cover w-full h-full z-10"{% endcomment %}
             {% comment %}alt="KardiaMobile in use">{% endcomment %}
        {% comment %}<img src="https://cdn.shopify.com/s/files/1/0368/7037/files/detect-afib-feature-mobile_2x_d52ac791-f0a1-4f9a-867f-bcbd6739965f.jpg?v=1690558689"{% endcomment %}
             {% comment %}class="md:hidden absolute inset-0 object-cover w-full h-full z-10"{% endcomment %}
             {% comment %}alt="KardiaMobile in use">{% endcomment %}
        {% comment %}<div class="block absolute top-0 left-0 w-full h-full bg-gradient-to-t md:bg-gradient-to-r from-mindful-blue-800 md:from-mindful-blue-800/50 to-transparent z-20"></div>{% endcomment %}

        <div class="mb-[240px] md:mb-0">
            <h4 class="relative faux-h2 md:text-[48px] mt-s6 text-primary-800 max-w-[295px] md:max-w-[640px] mb-s6 md:mb-s9 z-30">September is <span class="block text-primary-500">AFib Awareness Month</span></h4>
            <p class="relative faux-p-lg text-primary-800 md:max-w-[640px] z-30">Start your journey to a healthy heart with KardiaMobile® Card.</p>
            <a href="https://store.kardia.com/products/kardiamobile-card" class="relative mt-s9 inline-block btn btn--lg z-30">{{ section.settings.button-label }}</a>

        </div>

        <svg width="902" height="419" viewBox="0 0 902 419" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute transform translate-x-1/2 md:translate-x-0 right-0 mb:top-0 bottom-0 w-auto h-full">
            <path d="M543.864 -84H1087.73V315V803.25H0L543.864 -84Z" fill="#E1E6EF"/>
        </svg>
        <svg width="821" height="419" viewBox="0 0 821 419" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute transform translate-x-1/2 md:translate-x-0 right-0 md:top-0 bottom-0 w-auto h-full">
            <path d="M543.864 -84H1087.73V315V803.25H0L543.864 -84Z" fill="#CFD7E6" fill-opacity="0.5"/>
        </svg>
        <img src="https://cdn.shopify.com/s/files/1/0368/7037/files/heart-health-graphic-violator.png?v=1693510978" alt="" class="absolute right-0 bottom-0 w-full md:h-full md:w-auto ">




    </div>

</section>

{% schema %}
    {
        "name": "Home AFib",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
            {
                "id": "button-label",
                "type": "text",
                "label": "Button Label"
            }
        ],
        "presets": [
        {
            "name": "Home Afib",
            "category": "Custom"
        }
        ]
    }
{% endschema %}
