{% style %}
    .shopify-section + .shopify-section {
        border-top:none !important;
    }
{% endstyle %}
<section class="home-product-categories">
    <div class="page-width flex flex-col lg:flex-row lg:justify-between lg:items-center py-s7 md:py-s10">
        <h1 class="faux-h1">Shop our products</h1>
        <div class="grid grid-cols-4 gap-s2 lg:gap-s7 mt-s6 lg:mt-0">
            <a href="/#KardiaDevices" class="flex-1 text-mindful-blue-500 hover:text-mindful-blue-800 lg:max-w-[120px]">
                <img src="https://cdn.shopify.com/s/files/1/0368/7037/files/categories-devices.png?v=1690482113" alt="Kardia Devices">
                <div class="mt-s1 text-center py-s1 text-btn-sm lg:text-btn-sm-caps">Kardia Devices</div>
            </a>
            <a href="/#memberships" class="flex-1 text-mindful-blue-500 hover:text-mindful-blue-800 lg:max-w-[120px]">
                <img src="https://cdn.shopify.com/s/files/1/0368/7037/files/categories-companion.png?v=1690482113" alt="KardiaCare Memberships">
                <div class="mt-s1 text-center py-s1 text-btn-sm lg:text-btn-sm-caps">KardiaCare Memberships</div>
            </a>
            <a href="/#CompanionDevices" class="flex-1 text-mindful-blue-500 hover:text-mindful-blue-800 lg:max-w-[120px]">
                <img src="https://cdn.shopify.com/s/files/1/0368/7037/files/categories-kardiacare.png?v=1690482113" alt="Companion Devices">
                <div class="mt-s1 text-center py-s1 text-btn-sm lg:text-btn-sm-caps">Companion Devices</div>
            </a>
            <a href="/#Accessories" class="flex-1 text-mindful-blue-500 hover:text-mindful-blue-800 lg:max-w-[120px]">
                <img src="https://cdn.shopify.com/s/files/1/0368/7037/files/categories-accessories.png?v=1690482113" alt="Accessories">
                <div class="mt-s1 text-center py-s1 text-btn-sm lg:text-btn-sm-caps">Accessories</div>
            </a>
        </div>
    </div>
</section>

