<section class="page-width">
    <div class="flex justify-center items-center md:justify-start bg-gradient-to-b lg:bg-gradient-to-r from-[#6B84BF] via-[#936D8D] to-[#DC6351] rounded mb-s8 lg:mb-s11 p-s6 lg:px-s11 lg:py-s9 relative overflow-hidden">

        <svg class="hidden md:!block absolute right-0 top-0 transform translate-x-[30%] lg:translate-x-[20%] xl:translate-x-[25%]" viewBox="0 0 1088 888" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M544 0H1088V399.337V888H0L544 0Z" fill="#C6B1D6" fill-opacity="0.18"/>
        </svg>

        <svg class="md:hidden absolute bottom-0 left-0 right-0 w-full transform translate-y-[25%]" viewBox="0 0 980 1035" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M980 0V1035H-4.80351e-06L0 369.73L980 0Z" fill="#C6B1D6" fill-opacity="0.18"/>
        </svg>

        <img class="absolute bottom-0 md:bottom-auto md:top-0 md:right-0 left-1/2 md:left-auto max-h-[380px] lg:w-auto lg:h-full transform translate-y-[25%] -translate-x-1/2 md:translate-x-0 md:translate-y-0 lg:scale-150 xl:-translate-x-[25%]" src="https://cdn.shopify.com/s/files/1/0368/7037/files/world-heart-day-devices-mobile_2x_5d68bd7c-837a-4db0-98df-67061f0d1f59.png?v=1695296042" alt="Kardia Devices">

        <div class="flex flex-col items-center md:items-start mb-[240px] md:mb-0">
            <h4 class="relative text-center md:text-left faux-h2 lg:text-[48px] mt-s6 text-white mx-auto z-30">A healthier heart <span class="block md:inline">starts here</span></h4>
            <p class="relative text-center md:text-left faux-p-lg text-white md:max-w-[416px] lg:max-w-[516px] z-30">This World Heart Day, save $20 on KardiaMobile® Card.</p>
            <div class="flex md:justify-start">
                <a href="https://store.kardia.com/products/kardiamobile-card" class="relative mx-auto mt-s9 inline-block btn--inverse btn btn--lg z-30">Shop Now</a>
            </div>
        </div>

    </div>

</section>

{% schema %}
    {
        "name": "Home AFib",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
            {
                "id": "button-label",
                "type": "text",
                "label": "Button Label"
            }
        ],
        "presets": [
        {
            "name": "Home Afib",
            "category": "Custom"
        }
        ]
    }
{% endschema %}
