<article class="borders featured-list">
  <div class="featured-list__int">
    <ul class="featured-list__items list-none global-list">
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word">Free shipping</h3>
          <p class="global-list__text">On all orders over $89</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word">Smartphone/tablet compatible</h3>
          <p  class="global-list__text">Compatibility chart<p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word">Recommended by doctors</h3>
          <p class="global-list__text">#1 recommended personal EKG</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word">Easy to use</h3>
          <p class="global-list__text">Simply press your finers on the device</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word">HSA/FSA Eligible</h3>
          <p class="global-list__text">Confirm with your insurance provider first</p>
        </div>
      </li>
    </ul>
  </div>
</article>
