{% style %}
    #app .global-list__text{
        margin-top: 12px;
    }

    #app .global-list
{% endstyle %}

<article class="borders featured-list">
  <div class="featured-list__int">
    <ul class="featured-list__items list-none global-list">
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word faux-p-xs font-bold">Advanced determinations</h3>
          <p class="global-list__text faux-p-xs">Detect more arrhythmias</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word faux-p-xs font-bold">Cardiologist EKG reviews</h3>
          <p  class="global-list__text faux-p-xs">Four reviews per year included</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word faux-p-xs font-bold">Heart health summary report</h3>
          <p class="global-list__text faux-p-xs">Track your heart health over time</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word faux-p-xs font-bold">Automatic EKG sharing</h3>
          <p class="global-list__text faux-p-xs">Keep everyone informed of your ehart activity</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word faux-p-xs font-bold">Medication tracking</h3>
          <p class="global-list__text faux-p-xs">Set reminders so you don't forget</p>
        </div>
      </li>
      <li class="global-list__item">
        <div class="global-list__icon-container">
          <svg class="w-icon-32 h-icon-32">
            <use
              xlink:href="/assets/icons/32/delivery-3.svg#icon-definition"
            ></use>
          </svg>
        </div>
        <div class="global-list__info">
          <h3 class="global-list__heading break-word faux-p-xs font-bold">Discount device replacement</h3>
          <p class="global-list__text faux-p-xs">Replace a lost/stolen device for only $19.99</p>
        </div>
      </li>
    </ul>
  </div>
</article>