<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="bg-kc-500 text-white col-span-1 row-start-1 px-s3 py-s5 m-0">Feature</h5>
  <p class="bg-kc-800 text-white col-span-3 row-start-1 px-s3 py-s5 m-0">Description</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Insights</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">View trends in your ECG, blood pressure, and symptoms. Understand trends by month, week, and even time of day—all available in the Kardia app. Use Insights to learn when you’re more likely to experience an arrhythmia, or if symptoms like anxiety or fatigue may be your common triggers for a heart event.</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Advanced determinations</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Detect more arrhythmias than any other personal ECG. Get 3 more detections: Sinus Rhythm with Premature Ventricular Contractions (PVCs), Sinus Rhythm with Supraventricular Ectopy (SVE), and Sinus Rhythm with Wide QRS.</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Heart health summary report</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Track your heart health over time. Generate a summary of your EKG, blood pressure, and weight data.</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Medication tracking</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Set reminders to take specific medication at your doctor’s recommendation and track your medication history.</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Cloud storage</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Enjoy secure access to all of your EKG recordings on any device with unlimited cloud storage.</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Clinician review</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Lorem ipsum dolor sit amet consectetur. Velit egestas vitae semper varius pharetra quis. Sapien convallis pellentesque eget lectus etiam senectus habitasse quam.</p>
</div>

{% style %}
  .kcGlobalRecharge {
    padding: 40px 24px 32px;
    max-width: 1160px;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
{% endstyle %}

{% schema %}
  {
    "name": "KcBenefitsTable",
    "class": "kcGlobalRecharge",
    "settings": []
  }
{% endschema %}