{% schema %}
  {
    "name": "Kardia Header",
    "settings": []
  }
{% endschema %}

<div class="kardia-header">Navigation coming soon</div>

<style>
	.kardia-header {
    	padding: 12px;
		text-align: center;
	}
</style>

{% javascript %}
{% endjavascript %}
