{% schema %}

{
    "name": "Kardia Header",
    "settings": []
}

{% endschema %}

{% style %}

.btn span {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.btn:hover:not(:disabled) span {
    transform: translateX(-2px)
}

.btn:disabled{
    background-color: var(--primary-700)
}

{% endstyle %}

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>


<div class="grid grid-main">
    <header class="main-header">
        <div class="header__int">
            <a aria-label="return home" class="header-logo" href="https://kardia.com">
                <svg fill="none" preserveaspectratio="xMinYMid" role="presentation" viewbox="0 0 340 95" xmlns="http://www.w3.org/2000/svg">
                    <path d="M51.11 54.568h10.866s-4.203-10.834-10.061-24.475C46.056 16.45 42.256 8.024 42.256 8.024c-1.61-4.013-3.22-5.858-4.83-6.821l-4.673 9.228a997.846 997.846 0 0 1 6.686 15.247c5.232 12.238 11.67 28.889 11.67 28.889Z" fill="#6386C4"></path>
                    <path d="M14.89 54.568H4.024s4.203-10.833 10.061-24.475c5.859-13.642 9.659-22.068 9.659-22.068 1.61-4.013 3.22-5.858 4.83-6.821 2.011-1.605 6.438-1.605 8.853 0 0 0-5.634 12.237-10.866 24.475-5.232 12.238-11.67 28.889-11.67 28.889Z" fill="#95AEDA"></path>
                    <path d="M4.024 54.568 0 65h11.268l3.622-10.432H4.024Zm57.952 0L66 65H54.732L51.11 54.568h10.866Z" fill="#164F8C"></path>
                    <path d="M122.567 21.069h-8.795l-20.69 23.29V21.07H86v43.837h7.082V53.792l6.59-7.337 14.606 18.335.104.116h8.743L104.316 41.28l18.251-20.21Zm32.299 0h-10.04l-16.448 43.837h7.303l3.71-9.898h20.651l3.645 9.872h7.303l-16.046-43.59-.078-.22Zm2.958 27.47h-16.202l8.185-21.764 8.017 21.763Zm57.1-13.134a14.178 14.178 0 0 0-1.076-5.53 14.233 14.233 0 0 0-3.143-4.68 14.278 14.278 0 0 0-10.27-4.126h-18.938v43.837h7.017V49.237h9.703l9.833 15.67h7.692l-10.378-16.55a13.462 13.462 0 0 0 6.939-4.89 13.404 13.404 0 0 0 2.621-8.062Zm-6.836-.194c0 4.568-3.346 7.764-8.146 7.764h-11.428V27.448h11.921a7.385 7.385 0 0 1 5.551 2.19 7.343 7.343 0 0 1 2.102 5.573Zm33.389-14.207h-15.228v43.993h15.228a22.64 22.64 0 0 0 16.228-6.47A21.511 21.511 0 0 0 263.944 43a21.94 21.94 0 0 0-1.717-8.514 21.993 21.993 0 0 0-4.888-7.188 22.062 22.062 0 0 0-7.295-4.74 22.106 22.106 0 0 0-8.567-1.554Zm0 37.33h-8.146V27.641h8.146c4.08 0 7.994 1.617 10.879 4.494a15.327 15.327 0 0 1 4.506 10.851c0 4.07-1.621 7.974-4.506 10.852a15.406 15.406 0 0 1-10.879 4.494Zm39.81-37.265h-6.836v43.837h6.836V21.07Zm36.956.22-.078-.22h-10.04l-16.448 43.837h7.303l3.71-9.872h20.651l3.645 9.872h7.316L318.243 21.29Zm2.88 27.301h-16.202l8.185-21.764 8.017 21.764Zm8.859-27.03h-1.375v-.491h3.36v.491h-1.388v4.037h-.597V21.56Zm6.305 2.045c0-.634-.065-1.385-.065-1.954-.156.53-.351 1.1-.571 1.72l-.804 2.2h-.441l-.74-2.16a18.557 18.557 0 0 1-.519-1.76c0 .57 0 1.294-.09 2.005l-.13 1.941h-.558l.324-4.528h.766l.778 2.186c.181.5.332 1.01.454 1.527.117-.453.272-.957.48-1.527l.804-2.186h.753l.272 4.528h-.571l-.142-1.992Z" fill="#6386C4"></path>
                    <path d="M190 91.814V82h1.438v3.487a3.162 3.162 0 0 1 1.156-.913 3.28 3.28 0 0 1 1.461-.302 4.086 4.086 0 0 1 2.793 1.156A3.8 3.8 0 0 1 198 88.142a3.735 3.735 0 0 1-1.093 2.682A4.013 4.013 0 0 1 194.178 92a3.447 3.447 0 0 1-1.524-.305 3.324 3.324 0 0 1-1.216-.937v1.057H190Zm6.589-3.672a2.42 2.42 0 0 0-.141-1.015 2.507 2.507 0 0 0-.549-.876 2.61 2.61 0 0 0-.867-.592 2.683 2.683 0 0 0-2.078 0 2.61 2.61 0 0 0-.867.592c-.243.252-.43.55-.549.876a2.42 2.42 0 0 0-.141 1.015c-.026.344.022.69.141 1.014.119.326.306.624.549.877.244.252.539.454.867.591a2.68 2.68 0 0 0 2.945-.591c.243-.253.43-.551.549-.877a2.42 2.42 0 0 0 .141-1.014Zm4.04 6.858 1.162-3.335-2.79-7.084h1.5L202.499 90l2-5.423h1.499L201.999 95h-1.37Zm29.531-6.216c-.419-1.024-.892-2.096-1.382-3.28-.491-1.185-1.003-2.313-1.498-3.411a458.92 458.92 0 0 0-1.542-3.385 2.69 2.69 0 0 0-.892-1.162 2.201 2.201 0 0 0-1.159-.329c-.411 0-.813.114-1.159.329-.4.302-.709.704-.891 1.162a304.237 304.237 0 0 0-1.538 3.385 215.158 215.158 0 0 0-2.884 6.691 127.412 127.412 0 0 0-1.191 2.978l-.026.074h2.674v-.043c.152-.433.357-.96.602-1.59.187-.48.406-1.034.678-1.695l.026-.074c.281-.7 1.476-3.596 1.708-4.136.231-.54.477-1.111.722-1.656.245-.545.472-1.059.7-1.547.227-.489.396-.865.566-1.202.174.359.361.76.566 1.201.205.441.446 1.008.7 1.548.254.54.486 1.102.722 1.656.236.553 1.426 3.457 1.707 4.136l.031.074c.268.661.491 1.214.678 1.694.245.631.446 1.163.602 1.59v.044h2.674l-.026-.073a71.45 71.45 0 0 0-1.168-2.979Zm7.234-11.575h-2.407v14.627h9.776V89.64h-7.369V77.21Zm13.329 0h-2.345v14.627h2.345V77.209Zm10.667 12.444-4.502-12.375-.027-.07h-2.532l5.327 14.628h3.446l5.314-14.485.053-.142h-2.487l-4.592 12.444Zm10.685 2.183h10.712V89.64h-8.3v-4.046h7.453v-2.148h-7.453V79.4h8.3v-2.192h-10.712v14.628Zm21.892-12.583h.036a5.06 5.06 0 0 1 2.739.793 4.837 4.837 0 0 1 1.83 2.13l.04.081 2.318-.635-.053-.112a7.326 7.326 0 0 0-2.981-3.418 7.672 7.672 0 0 0-4.481-1.074 7.775 7.775 0 0 0-4.66 2.026 7.349 7.349 0 0 0-2.312 4.415 7.344 7.344 0 0 0 .26 3.182 7.507 7.507 0 0 0 1.59 2.796 7.562 7.562 0 0 0 2.577 1.846c.984.43 2.053.651 3.133.648a7.545 7.545 0 0 0 4.134-1.217 7.21 7.21 0 0 0 2.722-3.252l.049-.113-2.34-.614-.036.082a4.708 4.708 0 0 1-1.811 2.106 4.928 4.928 0 0 1-2.718.756c-2.973 0-5.216-2.239-5.216-5.187a5.17 5.17 0 0 1 .391-2.06 5.3 5.3 0 0 1 1.183-1.752 5.075 5.075 0 0 1 1.656-1.063 5.204 5.204 0 0 1 1.95-.364Zm18.197-2.191a7.877 7.877 0 0 0-4.299 1.225 7.526 7.526 0 0 0-2.869 3.338 7.262 7.262 0 0 0-.467 4.322 7.402 7.402 0 0 0 2.093 3.842 7.78 7.78 0 0 0 3.944 2.063 7.93 7.93 0 0 0 4.461-.415 7.66 7.66 0 0 0 3.467-2.752 7.308 7.308 0 0 0 1.301-4.158 7.33 7.33 0 0 0-2.226-5.261 7.8 7.8 0 0 0-5.405-2.204Zm5.197 7.465c0 2.943-2.282 5.247-5.197 5.247a5.207 5.207 0 0 1-2.102-.423 5.07 5.07 0 0 1-1.732-1.228 5.418 5.418 0 0 1-1.138-1.99 5.293 5.293 0 0 1-.199-2.268 5.135 5.135 0 0 1 1.697-3.254 5.443 5.443 0 0 1 3.487-1.367h.08c2.862.057 5.104 2.378 5.104 5.283Zm17.475-2.537a4.64 4.64 0 0 0-.372-1.843 4.747 4.747 0 0 0-1.079-1.56 4.906 4.906 0 0 0-1.617-1.033 5.036 5.036 0 0 0-1.903-.346h-6.504v14.628h2.43v-5.23h3.33l3.374 5.23h2.639l-3.566-5.524a4.615 4.615 0 0 0 2.374-1.635 4.393 4.393 0 0 0 .894-2.688Zm-2.359-.057c0 1.526-1.15 2.593-2.795 2.593h-3.891V79.34h4.092c.35-.01.698.052 1.023.18.324.129.617.32.861.564.244.244.433.534.555.852.122.319.175.658.155.997Zm5.926-1.523c.889 0 1.595-.702 1.595-1.535v-.009c0-.833-.697-1.525-1.595-1.525-.888 0-1.594.701-1.594 1.534v.009c0 .833.696 1.525 1.594 1.525Zm0-.167c-.806 0-1.411-.614-1.411-1.36v-.008c0-.745.614-1.368 1.411-1.368.807 0 1.411.614 1.411 1.36v.008c0 .745-.614 1.368-1.411 1.368Zm-.595-.632h.256v-.56h.385l.403.56h.321l-.449-.596c.22-.061.394-.21.394-.464 0-.307-.266-.474-.596-.474h-.714v1.534Zm.256-.762v-.553h.431c.22 0 .357.088.357.272 0 .167-.128.28-.357.28h-.431Z" fill="#195C5D"></path>
                </svg>
            </a>
            <div class="h-full">
                <nav class="header__nav-container">
                    <div body-scroll-lock-ignore="" class="header__nav-container-int">
                        <ul class="nav-primary list-none">
                            <li class="menu__item level--1 has-dropdown">
                                <a class="menu__link flex items-center relative link-level--1 is-active" href="/" rel="noopener" target="">Products</a>
                                <div class="submenu-items-wrapper">
                                    <div class="submenu-items-wrapper-int">
                                        <ul class="submenu-items level--1 list-none">
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiamobile-card" rel="noopener" target="">KardiaMobile Card</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiamobile6l" rel="noopener" target="">KardiaMobile 6L</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiamobile" rel="noopener" target="">KardiaMobile</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiacare" rel="noopener" target="">KardiaMobile</a>
                                            </li>
                                            <li class="menu__item level--2 last-item ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/" rel="noopener" target="">Shop All Products</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button aria-controls="collapse2" aria-label="toggle submenu" class="submenu-btn to-lg:hidden">
                                    <svg class="share__icon w-icon-24 h-icon-24" color="currentColor" id="icon-definition" role="presentation" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16 10l-4 4-4-4" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke="currentColor"/></svg>
                                </button>
                            </li>
                            <li class="menu__item level--1  ">
                                <a class="menu__link flex items-center relative link-level--1 " href="https://www.kardia.com/blog" rel="noopener" target="">Blog</a>
                            </li>
                            <li class="menu__item level--1 has-dropdown">
                                <a class="menu__link flex items-center relative link-level--1 " rel="noopener" target="">Professionals</a>
                                <div class="submenu-items-wrapper">
                                    <div class="submenu-items-wrapper-int">
                                        <ul class="submenu-items level--1 list-none">
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://www.kardia.com/professional/hcp" rel="noopener" target="">For Healthcare Professionals</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://www.kardia.com/professional/health-systems" rel="noopener" target="">For Health Systems</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://www.kardia.com/professional/biopharma" rel="noopener" target="">For BioPharma</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://www.kardia.com/professional/payers-employers" rel="noopener" target="">For Payers &amp; Employers</a>
                                            </li>
                                            <li class="menu__item level--2  ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://www.kardia.com/professional/data-integration" rel="noopener" target="">Data Integration Solutions</a>
                                            </li>
                                            <li class="menu__item level--2 last-item ">
                                                <a class="menu__link flex items-center relative link-level--2 " href="https://www.kardia.com/professional/oems" rel="noopener" target="">For OEMs</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button aria-controls="collapse4" aria-label="toggle submenu" class="submenu-btn to-lg:hidden">
                                    <svg class="share__icon w-icon-24 h-icon-24" color="currentColor" id="icon-definition" role="presentation" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16 10l-4 4-4-4" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke="currentColor"/></svg>
                                </button>
                            </li>
                            <li class="menu__item level--1 last-item ">
                                <a class="menu__link flex items-center relative link-level--1 " href="https://alivecor.zendesk.com/hc/en-us" rel="noopener" target="_blank">Support</a>
                            </li>
                            <li class="menu__item text-center">
								<a class="btn" href="/cart" rel="" target="">
                                    <svg class="w-icon-20 h-icon-20 text-white" color="currentColor" id="icon-definition" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g class="nc-icon-wrapper" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke="currentColor"><path d="M4 4h18l-3 10H4"/><circle cx="4" cy="22" fill="currentColor" r="2" stroke="none"/><circle cx="20" cy="22" fill="currentColor" r="2" stroke="none"/><path d="M1 1l3 3v10l-2 4h21" data-cap="butt" stroke-linecap="butt"/></g>
                                    </svg>
									{% if cart.item_count > 0 %}
										<span class="inline-block faux-p-xs font-bold mt-[2px] pl-s2">{{ cart.item_count }}</span>
									{% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="h-full flex items-center lg:hidden">
                    <button aria-controls="collapse6" aria-label="toggle main navigation" class="menu-btn lg:hidden" onclick="toggleHeader(event)">
                        <span class="menu__bar menu__bar--1"></span>
                        <span class="menu__bar menu__bar--2"></span>
                        <span class="menu__bar menu__bar--3"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
</div>
