<article class="newsletter borders">
  <div class="newsletter__int is-visible">
    <div class="newsletter__info">
      <h2 class="text-primary-500">Stay in-the-know</h2>
      <p>
        Sign up for Kardia news, updates and other exclusive content straight to
        your inbox.
      </p>

      <form class="flex flex-col lg:flex-row mt-s6 gap-s4">
        <input class="flex-grow border-b-2 border-tertiary-100 text-16" type="email" placeholder="Please enter your email"/>
        <button class="btn btn--inverse border-2 border-primary-500">Subscribe</button>
      </form>
    </div>
    <div class="newsletter__image-container">
      <picture class="image__wrapper">
        <img
          src="https://kardia.steadfa.st/assets/images/_480x640_crop_center-center_95_none/newsletter-hand.png"
          alt=""
          class="newsletter__image"
        />
      </picture>
    </div>
  </div>
</article>
